{% extends 'base.html' %} 
{%block title %}
{{stuff_at_top}}}
{% endblock %}
{% block content %}



{% if user.is_superuser %}
<a class="button is-dark" href="{% url 'club_create' %}">New Club</a>
{% else %}
{% endif %}

<div class="gallery">
{% for club in clubs %}
<a href="{% url 'club_detail' club.pk %}">
  <div class="card">
    <div class="card-image">
      <figure class="image is-square">
        <img src="{{club.img}}" alt="{{club.name}}" />
      </figure>
    </div>
    <div class="card-header">
      <p class="card-header-title">{{club.name}}</p>
    </div>
  </div>
</a>
{% endfor %}
</div>
</div>

{% endblock %}