{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{course.img}}" alt="{{course.name}}" />
</div>

    <h1 class="title">{{course.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">Details</h4>
        <p>{{course.address}}</p>
        <p>{{course.website}}</p>
    </div>
</div>

{% endblock %}