{% extends 'base.html' %} 
{%block title %}
{{stuff_at_top}}}
{% endblock %}
{% block content %}


<h1 class="title pt-5">{{stuff_at_top}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'course_list' %}">Clear Search</a>
</form>
<div class="gallery">
  {% for course in courses %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{course.img}}" alt="{{course.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{course.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}